body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.section1 {
    background-color: #1F2937;
}

/* 1st section header */

.header {
    padding: 10px 200px 100px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.push-left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-right: auto;
}

/* 1st section content */

.content {
    display: flex;
    color: #F9FAF8;
    padding: 0 200px 100px;
    gap: 100px;
}

.content .text {
    flex: 1 1 0;
}

.content .main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.content .subtext {
    color: #F9FAF8;
    font-size: 18px;
    margin-bottom: 10px;
}

.section1 .image {
    color: #F9FAF8;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
}

/* 2nd section */

.section2 .info {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-top: 30px;
}

.section2 .container {
    display: flex;
    padding: 50px 300px 100px;
    gap: 50px;
}

.section2 .item {
    flex: 1;
}

.section2 .image {
    border: 2px solid blue;
    border-radius: 10px;
    height: 150px;
}

.section2 .text {
    text-align: center;
    font-size: 18px;
}

/* 3rd section */

.section3 {
    background-color: #E5E7EB;
    padding: 100px 300px 100px;
}

.section3 .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.section3 .name {
    font-size: 18px;
    font-weight: bold;
}

/* 4th section */

.section4 {
    padding: 100px 200px 100px;
}

.section4 .container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
}

.section4 .text1 {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.section4 .text2 {
    color: white;
    font-size: 14px;
}

.section4 button {
    border: 1px solid white;
}

/* Footer */

.footer {
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}